
/* Center the entire app */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  font-family: 'Arial', sans-serif;
}

h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  width: 250px;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ddd;
}

button:active {
  background-color: #ccc;
}

button.add-task {
  background-color: #28a745;
  color: white;
}

button.add-task:hover {
  background-color: #218838;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 320px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li.completed {
  text-decoration: line-through;
  background-color: #d4edda;
}

li:nth-child(odd) {
  background-color: #f9f9f9;
}

span {
  flex-grow: 1;
  color: #333;
  font-size: 16px;
}

button.edit-task {
  background-color: #ffc107;
  color: white;
}

button.edit-task:hover {
  background-color: #e0a800;
}

button.delete-task {
  background-color: #dc3545;
  color: white;
}

button.delete-task:hover {
  background-color: #c82333;
}

input[type="text"].edit-input {
  width: 150px;
  margin-right: 10px;
}

button.save-task {
  background-color: #007bff;
  color: white;
}

button.save-task:hover {
  background-color: #0056b3;
}

button.cancel-task {
  background-color: #6c757d;
  color: white;
}

button.cancel-task:hover {
  background-color: #5a6268;
}

/* Modal styling */
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.ReactModal__Content {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  background: white;
  outline: none;
}
.task-item .edit-task,
.task-item .delete-task {
  margin-left: 10px; /* Adjust this value as needed */
}

.task-item .edit-task {
  margin-right: 10px; /* Adjust this value as needed */
}

.save-task {
  margin-right: 10px; /* Adjust this value as needed */
}
.cancel-task {
  margin-right: 25px; /* Adjust this value as needed */
}
.task-item.completed-bg {
  background-color: rgb(123, 255, 123);
}

